$cat .gitignore
.idea
.settings
files
/vendor
demos
file_storage
schedules/views/*/*
class/pChart/pictures/*/*
log
phinx.yml
*.pyc
config.py
config.php
bot_redefined_config.php
views/_cache
/class/pChart/pictures/*
node_modules