/*кубы на главной странице настроек*/
.block-border-shadow-normal-padding ul li {
    display: block;
    width: 150px;
    height: 150px;
    /*border: 1px solid red;*/
    margin: 5px;
    float: left;
    padding: 5px;
    background-color: #e3e3e3;
}
.block-border-shadow-normal-padding ul li a{
    text-align: center;
    display: block;
    margin-top: 40%;
    font-size: 14px;
}
/*!кубы на главной странице настроек*/

.phone-code-block {
    padding: 10px;
    border: 1px dotted #ccc;
    margin: 5px;
}


/*user grops section */
.group {

}



/*!user grops section */
