/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
    /*background-image: url('../images/bg1.png') ;*/
    font-family: OpenSans, Verdana;
    font-size: 13px;
}

#container1072 {
    width: 95%;
    background-color: #fff;
    padding: 25px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    width: 100%;
    height: 75px;

}
.header .col-md-8 {
    /*background-color: #fff;*/
    padding: 15px;
}
.tb-name-container {
    background-color: #D33714 !important;
    color: #ffffff;
}
.tb-name {
    font-size: 16px;
    font-weight: normal;
    color: #ffffff !important;
}
.block-border-shadow {
    background-color: #fff;
    /*behavior: url('js/pie/pie.htc');*/
    /*box-shadow: 1px 3px 6px 2px #ccc;*/
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 55px !important;
    padding-top: 10px !important;
}
.block-border-shadow2 {
    background-color: #fff;
    /*behavior: url('js/pie/pie.htc');*/
    /*box-shadow: 1px 3px 6px 2px #ccc;*/
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 5px 55px 55px 55px !important;
    /*padding-top: 5px !important;*/
}
.block-border-shadow-normal-padding {
    background-color: #fff;
    /*behavior: url('js/pie/pie.htc');*/
    /*box-shadow: 1px 3px 6px 2px #ccc;*/
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 15px !important;
}

/*errors diaplay block*/
.errors-cnt {
    border: 1px solid red;
    background-color: red;
    color: #ffffff;
    padding: 10px;
    display: none;
}
.error-mark {
    border: 1px solid red !important;
}
/*!errors display blick*/
.clear {
    clear: both;
}
.offset-10 {
    margin-left: 10px !important;
}
.step-navigator {
text-align: left;
    background-color: #fff;
    margin-top: 5px;
    /*padding: 10px;*/

}
.step-navigator h4 {
padding-left:  10px!important;
}
.step-navigator ul {
    display: inline;
    text-align: center;
    padding:  10px!important;
    list-style: none;
    background-color: #fff;
    width: 100%;
}
.step-navigator ul li {
    display: inline;
    color: #ccc;
}
.step-navigator-content {
    margin-left: 10%;
}
.this-marked {
    color: green !important;
    font-weight: bold;
}
.padding25 {
    padding: 25px !important ;
}
.padding15 {
    padding: 15px !important ;
}
.padding5 {
    padding: 5px !important ;
}
.centered-content {
    padding-left: 10%;
}
.form-step-container {
    border: 1px solid #eeeeee;
    padding: 0px 40px ;
    margin: 5px;
    /*behavior: url('js/pie/pie.htc');*/
    /*border-radius: 25px;*/
}
.no-left-padding {
    padding-left: 0px;

}
.no-right-padding {
    padding-right: 0px;
}
.left-margin-block {
    margin-left: 10px;
}

.conn-codes-block {
    /*background-color: #f7f7f7;*/
    padding: 15px;
    padding-bottom: 0px;

}


.conn-codes-block .form-group {
    margin-left: 1%;
}
.conn-codes-block label {
    width: 30%;
    text-align: left;
    margin-right: 5px;
}
.conn-codes-block input {
    padding: 4px;
    border: 1px solid #ccc;
    width: 65%;
}
.remove {
    cursor: pointer;
}
/* контейнер для дерева точек */

/*!контейнер для дерева точек*/

/*индикатор загрузки файлов*/
#loading {
    display: none;
}
/*!индикатор загрузки файлов*/
.like-href {
    text-decoration: underline;
    cursor: pointer;
}
.elem-cam:hover {
    border: 1px solid #f0ad4e;
    background-color: #fff;
}
.check-codes-report-container {
    text-align: center;
    padding: 5px;

}
.vks-busy-table {
    margin: 0 auto;
    width: 100%;
}
.vks-busy-table th {
    background-color: #FAEBCC;
    color: #8A6D3B;
}
.vks-busy-table th, .vks-busy-table td {
    text-align: center;
    padding: 3px;
    border: 1px solid #ccc;
}

li.list-default {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
}
.label-huge {
background-color: red;
}
.close-me,.show-more-participants {
    cursor: pointer;
}
.table-tracker td,.table-tracker th {
    padding: 25px 15px !important;
}
.createLinks-group {
    padding: 3px;
    background-color: #ffe298;
}
.fancybox-no-back
{
    background-color: transparent !important;
}
.roller {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;

}
.fancybox-no-back .fancybox-inner {
    /*height: 30px !important;*/
    /*overflow: hidden !important;*/
}
.fc-title {
    font-family: verdana, arial, helvetica, sans-serif !important;
    font-size: 11px;
}
.see-me {
    cursor: pointer !important;
}
.see-me:hover {
    color: green;
}
.pointer {
    cursor: pointer;
}
.pointer:hover {
    text-decoration: none;
}
.right-border {
    border-right: 1px solid #eee;
}
.left-border {
    border-left: 1px solid #eee;
}
.vks_location-display .point {
    padding: 10px;
    font-size: 12px;
    behavior: url('js/pie/pie.htc');
    border-radius: 6px;
    background-color: #F0AD4E !important;
}
.point {
    font-size: 16px;
}
.logo {
    padding: 0px !important;
    margin: 0px  !important;
    width: 120px;
}
/*.navbar-brand {*/
    /*margin: 0px ;*/
    /*padding: 0px;*/
    /*margin-right: 15px;*/
    /*/!*padding: 10px;*!/*/
/*}*/
.hide-me {
    cursor: pointer;
}
.with-logo {
    padding: 3px !important;
}
.with-logo > a {
    display: inline !important;;
}
.needTPSupportHeightLighter {
    background-color: #f0ad4e;
    padding: 5px;
}
.container100 {
    width: 100%;
}
.code-connect-font {
    font-family: "lucida console", monospace;
    font-size: 18px;
    font-weight: bold;
}
#footer {


    font-family: "Courier New", Courier, monospace;
    background-color: #4e4e4e;
    color: #fff !important;
    min-height: 130px;
    width: 100%;
    /*margin-top: 10px;*/
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
}
#footer {
    margin-top: 50px;
}
#footer .container {
    padding-top: 20px;

}
#footer ul {

    color: #fff !important;
    list-style: none;
}
#dynamic-footer {

    position:absolute; width:100%;
    font-family: "Courier New", Courier, monospace;
    background-color: #4e4e4e;
    color: #fff !important;
    height: 300px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#dynamic-footer ul {
    color: #fff !important;
    list-style: none;
}
.text-white {
    color: #fff !important;
}
.connection-code-highlighter {
    padding: 5px;
    font-weight: bold;
    background-color: #ea8805;
    color: white;
}
.connection-code-highlighter-wait {
    font-size: 11px;
    /*padding: 5px;*/
    font-weight: bold;
    color: #797E7B;
}

.connection-code-highlighter-compact {
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    background-color: #ffbea3;
}
.connection-code-highlighter-compact-wait {
    /*padding: 5px;*/
    font-weight: bold;
    font-size: 11px;
    color: #797E7B;
}

.connection-code-highlighter .point {
    display: inline;
}
.edit-cancel-button {
    margin-top: 95px;
    display: block;
}
#vks-edit-change-time {
    font-size: 16px;
}
.vip-vks {
    border: 2px dotted #cda206 !important;
}
.vip {
    color: #cda206 !important;
}
.founded li {
    padding: 5px;
    cursor: pointer;
}
.founded li:hover {
    background-color: #bcae73;
}
#user-tokens li {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #b7ff5b;
}
#user-tokens .unselect-user {
    cursor: pointer;
}
.search-block {
    margin-bottom: 15px;
}
.cancel-time-container {
    height: 150px;
    padding: 10px;
}
#founded {
    background-color: #e3e3e3 !important;
    padding: 5px;
}
.plank-title {
    padding: 2px;
}
.like-href-modal {
    border-bottom: 1px dotted #006699;
}
.form-code-part-1, .form-code-part-2, .result {
    padding: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.here-code {
    border: 1px dotted #ccc;
    padding: 10px;
    text-align: center;
}
.loader-global {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    color: red;
    /*width: 100px;*/
    /*height: 100px;*/
}
.fc-today  {

    color: red;
    font-weight: bold;
}
.code-table th, .code-table td {
    padding: 1px;
    font-size: 13px;
    text-align:  center;
}
.code-table select, input, textarea {
    border: 1px solid #ccc;
}
#stack-content, .inside_parp {
    max-height: 400px;
    width: 100%;
    overflow: auto;
}
.vks-points-list-display,.vks_location-display {
    border: 1px dotted #ccc;
    margin: 5px;
    border: 1px dotted #ccc;
    margin-top:10px;
    padding:10px;
    max-height: 200px;
    width: 100%;
    overflow: auto;
}
#stack-content {
    min-height: 300px;
}
.lk-menu {
    padding: 10px 0;
}
.lk-menu-item {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu-span {
    margin-left: 15px !important;
}

.referral-code-highlighter {
    text-wrap: none;
    color: #1978ea !important;
    padding: 5px;
    /*font-weight: bold;*/

    /*background-color: #1978ea;*/
}
.referral-code-highlighter input {

    padding: 4px;
    padding-top: 2px;
    border: 1px solid #ccc;
    width: 85%;
}
.referral-code-highlighter a {
    text-wrap: none;
    font-size: 11px;
}
.hovered:hover {
    background-color: #cc9331;
    color: #ffffff;
}