#search-input {
    width: 60%;
}
#search-results {
    /*background-color: #eef1f8;*/
    padding: 25px;
}
.searched-vks {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f1f1f1;
}
.searched-vks:hover {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ffc78d;
}