<style>
    body {
        /*background-color: #cff4cb;*/
        font: "Georgia", "Times New Roman", serif;
        font-size: 14px;
    }

    .mail-table {
        width: 100%;
        margin: 0 auto;
        /*border-left: 1px solid #1B2024;*/
        background-color: #FFFFFF;
        border-collapse: collapse;
    }
    .table-head-declined {
        background-color: #ff8173;
    }

    .mail-table td {
        padding: 10px;
        font-size: 16px;
        font-family: verdana, arial, helvetica, sans-serif;
        color: #1B2024;
        border: 1px solid #ccc;
    }

    .alt {
        background-color: #F0F0F0;
    }

    .code-connect-font {
        font-family: "lucida console", monospace;
        font-size: 18px;
        font-weight: bold;
        color: #FF5346;
    }

    .table-head td {
        font-family: "lucida console", monospace;
        background-color: #81AA21;
        color: #242222 !important;
    }
</style>
<body>
<table class="mail-table">
    {% block body %}

    {% endblock %}
    <tr >
        <td colspan="2" align="left"><i>*Сообщение создано в автоматическом режиме</i>
        </td>
    </tr>
    <tr>
        <td align="left" colspan="2">
            <a href="{{ appHttpPath }}">Переход к АС ВКС</a>
        </td>
    </tr>
</table>
</body>