/*.attendance-chooser {*/
    /*width: 600px;*/
/*}*/
.attendance-root {

}
/*.attendance-child:first-child {*/
    /*margin-left: 0px;*/
/*}*/
.attendance-child {
    /*margin-left: 45px;*/
}
.branch-radio {
    display: block;
    margin-top: 3px !important;
    float: left;
    margin-right: 5px !important;
    height: 15px;
    width: 15px;
}
.child-elem-lvl {

    /*padding: 4px;*/
    /*padding-left: 15%;*/
    margin: 5px;
    /*background-color: #ccc;*/
    /*behavior: url('js/pie/pie.htc');*/
    /*box-shadow: 3px 3px 6px #ccc;*/
}
.tree-container {
    /*height: 640px;*/
    width: 100%;
    overflow: auto;

    display: block;
}
.elem {
    width: 100%;

        font-size: 14px;
    /*background-color: #f4f4f4;*/
    padding: 6px;
        font-family: verdana, arial, helvetica, sans-serif;
    /*padding-left: 5%;*/
    /*behavior: url('js/pie/pie.htc');*/
   /*border-radius: 25px 25px 25px 25px;*/

}
elem-container {

}
.elem-cam {
    /*background-color: #eaffd1;*/
    cursor: pointer;
    /*padding-right: 25px;*/
}
.closed-image {
    cursor: pointer;
    display: block;
    margin-top: 2px;
    float: left;
    margin-right: 5px !important;
}

.fancybox-wrap {
    /*top: 20px !important;*/
}
.hasErrors {
    border: 1px solid red;
}
.container {
    margin-top: 0px;
    padding-top: 0px;
}
.add-space {
    margin-left: 45px;
}
.block-border-shadow-normal-padding {
    /*min-height: 1200px;*/
}
.attendance-manage-menu-container {
    margin: 0 auto;
    text-align: center !important;
    margin: 5px;
    background-color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc ;
    border-top:1px solid #ccc ;
    margin-bottom: 20px;

}

.label-gray {
    background-color: #ccc !important;
    margin-right: 5%;
}
.point {
    float: left;
    margin: 5px 5px 5px 0;
    padding: 5px;
    background-color: #f0ad4e;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;

}
.nav li {
    cursor: pointer;
}
.attendance-chooser,.attendance-phones {
    /*float: left;*/
    width: 100%;
    /*margin: 5px;*/
}
.del-point {
    cursor: pointer;
}
.selected-points,.selected-point-vks_location {
    /*float: left;*/
    /*margin-left: 15px;*/
    width: 100%;
}
.chooser-changer {
    /*display: block;*/
}
.phone-inputer {

    font-size: 22px;
}
#add-phone {
    margin-left: 15px;
}
.destroy {
    cursor: pointer;
}
.checked_by_container {
    /*padding: 10px;*/
    /*border: 1px solid #ccc;*/
}
.checked-by-userData {

    float: left;
    padding: 5px;
    background-color: #f0ad4e;
    margin: 1px;
    display: block;
}
.remove-userPlank {
    cursor: pointer;
}
.no-margin {
    margin-top: 0px;
    margin-bottom: 4px;
}
.breadcrumb-container {
    display: block;
    width: 100%;
    padding: 15px;
    /*border-bottom: 1px solid darkgreen;*/
    /*margin-bottom: 5px;*/

    color: #333;
}
.go-back-to-tree {
    border-bottom: 1px dotted green !important;
    background-color: #285e8e;
    padding: 5px;
    color: #fff;
    margin-left: 5px;
}
.elem-container {
    display: block;
    float: left;
    width: 300px;
}
.elem {
    float: left;
    width: 32%;
    height: 35px;
    font-size: 14px;
    /*background-color: #fff;*/
    padding: 6px;
    font-family: verdana, arial, helvetica, sans-serif;
    padding-left: 1%;

    /*behavior: url('js/pie/pie.htc');*/
    /*border-radius: 25px 25px 25px 25px;*/
    /*border-bottom:1px dotted blue ;*/

}
/*.elem:hover {*/
    /**/
/*}*/
.pl-name {
    border-bottom: 1px dotted blue;
    cursor: pointer;
}
.pl-name:hover {

    color: #f0ad4e;
    border-bottom: 1px dotted #f0ad4e;
}
.elem-cam {
    width: 32%;
    float: left;
    background-color: #eaffd1;
    border: 1px solid #eaffd1;
    cursor: pointer;
    /*padding-right: 25px;*/
}
.deactivated {
   background-color: lightgrey !important;
}
.att-phones-aval {
    border-left: 1px solid #ccc;
}
.att-phones-aval li {
    text-align: left;
    list-style: none;
    margin-bottom: 3px;
    width: 80%;
    /*text-decoration: underline;*/
    /*border-bottom: 1px dotted #0000ff;*/
}
.att-phones-aval li span{
    text-align: left;
    display: block;
    margin: 2px;
    font-size: 16px;
    /*border: 1px solid red;*/
    cursor: pointer;
    padding: 2px;

}

.phone-field-hidden {
    padding: 15px;
    background-color: #f7760c;

}
.select_all_points:hover {
    color: #f7760c;
}
#containers-container,#points-container {
    margin-top: 12px;
}